Welcome User <%= @user.email %>
<br> The user is is: <%= @user.id %>
<div >
<%=  link_to 'Create a new account', new_account_path %>
</div>


<div id="allAccounts">
<h3>List of all your accounts</h3>
  <div id="specAccounts">
  <%=render @user.accounts %>

  <% @user.accounts.each do |u| %>
    <%= u.startBalance %>
    <% end %>

  <div>
</div>

<div id="searchStocks">
  <h3>Search for Stocks</h3>
</div>

<div id="searchStocks">
  <h3>Search for Stocks</h3>
</div>
