Welcome User <%= @user.email %>
<br> The user is is: <%= @user.id %>
<div >
<%=  link_to 'Create a new account', new_account_path %>
</div>


<div id="allAccounts">
<h3>List of all your accounts</h3>
  <div id="specAccounts">
  <!-- <%=render @user.accounts %> -->

  <table border = "1">
    <tr>
      <td>Account Name</td>
      <td>Start Balance </td>
      <td>Current Balance</td>
    </tr>


    <% @user.accounts.each do |account| %>
      <tr>
        <td><%= link_to "#{account.name}", account %></td>
        <td><%= account.startBalance %></td>
        <td><%= account.currentBalance %></td>
      </tr>
    <% end %>
  </table>

  </div>
</div>


<div id="contact">
  The account is this is in the div:
  <br><br>
  <%= render "accounts/show" %>
</div>
<a href="#" id="toggle">Contact</a>




<div id="allStocks">
  <h3>All your stocks and their current prices</h3>

  <table border="1">
    <tr>
      <td>Ticker id (aka Feed.id)</td>
      <td>Ticker Symbol</td>
      <td>Stock Price </td>
      <td>Delete Stock</td>
      <td>Buy this stock</td>
    </tr>

    <% @user.feeds.each do |f| %>


      <% gg = YahooFinance.quotes([f.ticker]) %>
      <% hh = gg[0].last_trade_price %>
      <tr>
        <td><%= f.id %></td>
        <td><%= f.ticker %></td>
        <td><%= hh %></td>
        <td><%= link_to "Delete this stock", delete_feed_path(f.id) %> </td>
        <td><%= link_to "buy this stock", new_transaction_path(f.id)%></td>
      </tr>
    <% end %>

  </table>
</div>






<div id="searchStocks">
  <%= render "feeds/search" %>
</div>


<div id="newsFeeds">
  <h3>News goes here</h3>
  <% NewsEntry.all.each do |p| %>
    <li><%= p.name %></li>
  <% end %>
</div>
