Welcome User <%= @user.email %>
<br> The user is is: <%= @user.id %>
<div >
<%=  link_to 'Create a new account', new_account_path %>
</div>


<div id="allAccounts">
<h3>List of all your accounts</h3>
  <div id="specAccounts">
  <!-- <%=render @user.accounts %> -->

  <table border = "1">
    <tr>
      <td>Account Name</td>
      <td>Start Balance </td>
    </tr>


    <% @user.accounts.each do |u| %>
      <tr>
        <td><%=u.name %></td>
        <td><%= u.startBalance %></td>
      </tr>
    <% end %>
  </table>

  </div>
</div>



<div id="allStocks">
  <h3>All your stocks and their current prices</h3>

  <table border="1">
    <tr>
      <td>Ticker Symbol</td>
    </tr>

    <% @user.feeds.each do |f| %>
      <tr>
        <td><%= f.ticker %></td>
      </tr>
    <% end %>

  </table>
</div>


<div id="searchStocks">
  <%= render "feeds/search" %>

</div>
