<h3> Welcome <%= @user.email %> to your alerts. </h3>

<h3>Your Account Alerts </h3>

<% @user.accounts.each do |a| %>
  <% if a.alerts.any? %>
    You have account alerts
  <% end %>
<% end %>

<h3> Your transaction Alerts </h3>
  <% bb = Account.where(:user_id => @user.id).each do |b| %>
    <% b.transactions.each do |t| %>
      <% if t.alerts.any? %>
        <table border="1">
          <tr>
            <td>Transaction ID</td>
            <td>Transaction Ticker</td>
            <td>Account</td>
            <td>Alert High</td>
            <td>Alert Low</td>
            <td>Notification</td>
          </tr>
        <% t.alerts.each do |a| %>
          <tr>
            <td><%= t.id %></td>
            <td><%= Feed.find(t.feed_id).ticker %></td>
            <td><%= b.name %></td>
            <td><%= a.high %></td>
            <td><%= a.low %></td>
            <td><%= a.sent %></td>
          <tr>

        <% end %>
        </table>
      <% end %>
    <% end %>
  <% end %>

<h3> Your Feed Alerts </h3>
  <% @user.feeds.each do |f| %>
  <% if f.alerts.any? %>
      <table border="1">
        <tr>
          <td>Ticker Name</td>
          <td>Alert High</td>
          <td>Alert Low</td>
        </tr>

    <% f.alerts.each do |a| %>

      <tr>
        <td><%= f.ticker%></td>
        <td><%= a.high %></td>
        <td><%= a.low %></td>
      </tr>
    <% end %>
    </table>

  <% end %>
<% end %>
