<br><br>

<h3 style="font-family: 'Armata', sans-serif;"> Welcome <%= @user.email %> to your alerts. </h3>

<%= link_to("Create a New Alert", new_alert_path) %>


<div class="alerts">
  <h3 style="font-family: 'Armata', sans-serif;">Your Account Alerts </h3>


    <% if Alert.all.any? %>
      <table border="1" class="tableCenter">
        <col width="130">
        <col width="180">
        <col width="130">
        <col width="130">

        <tr style='font-weight:bold;'>
          <td>Account Name</td>
          <td>Alert High</td>
          <td>Alert Low</td>
          <td>Notification</td>
        </tr>
    <% @user.accounts.each do |a| %>
      <% a.alerts.each do |alert| %>
        <tr>
          <td><%= a.name %></td>
          <td><%= alert.high %></td>
          <td><%= alert.low %></td>
          <td><%= alert.sent %></td>
        <tr>

      <% end %>
  <% end %>
  </table>
  <% end %>


</div>

<br>


<div class="alerts">
<h3 style="font-family: 'Armata', sans-serif;"> Your transaction Alerts </h3>


    <% if Alert.all.any? %>
        <table border="1" class="tableCenter">
          <col width="130">
          <col width="180">
          <col width="130">
          <col width="130">
          <col width="130">
          <col width="130">


          <tr style='font-weight:bold;'>
            <td>Transaction ID</td>
            <td>Transaction Ticker</td>
            <td>Account</td>
            <td>Alert High</td>
            <td>Alert Low</td>
            <td>Notification</td>
          </tr>

      <% bb = Account.where(:user_id => @user.id).each do |b| %>
        <% b.transactions.each do |t| %>
              <% t.alerts.each do |a| %>
                <tr>
                  <td><%= t.id %></td>
                  <td><%= Feed.find(t.feed_id).ticker %></td>
                  <td><%= b.name %></td>
                  <td><%= a.high %></td>
                  <td><%= a.low %></td>
                  <td><%= a.sent %></td>
                <tr>
              <% end %>
        <% end %>
      <% end %>

    </table>
  <% end %>
</div>


<br>


<div class="alerts">
<h3 style="font-family: 'Armata', sans-serif;"> Your Feed Alerts </h3>
  <% @user.feeds.each do |f| %>
  <% if f.alerts.any? %>
      <table border="1" class="tableCenter">
        <col width="130">
        <col width="180">
        <col width="130">
        <col width="130">
        <tr style='font-weight:bold;'>
          <td>Ticker Name</td>
          <td>Alert High</td>
          <td>Alert Low</td>
          <td>Notification</td>
        </tr>

    <% f.alerts.each do |a| %>

      <tr>
        <td><%= f.ticker%></td>
        <td><%= a.high %></td>
        <td><%= a.low %></td>
        <td></td>
      </tr>
    <% end %>
    </table>

  <% end %>
<% end %>
</div>
