<!-- This is the all transactions page  -->

<h3>All Transactions</h3>



<table border="1">
  <tr>
    <td>Transaction ID</td>
    <td>feed_id</td>
    <td>Account Name</td>
    <td>Buy Price </td>
    <td>Sell Stock</td>
    <td>Date of Purchase</td>
    <td>Number of shares purchsed</td>

  </tr>

  <% @user.accounts.each do |a| %>
    <% a.transactions.each do |t| %>

    <tr>
      <td><%= link_to "#{t.id}", t %></td>
      <td><%= Feed.find(t.feed_id).ticker %></td>
      <td><%= a.name %> </td>
      <td><%= t.buyPrice %></td>
      <td><%= link_to "sell", sell_path(t) %></td>
      <td><%= t.buyDate %></td>
      <td><%= t.numBought %></td>

    </tr>
    <% end %>
  <% end %>

</table>
