<!-- This is the all transactions page  -->

<h3>Open Transactions</h3>

<table border="1">
  <tr>
    <td>Sell Stock</td>
    <!-- <td>Transaction ID</td> -->
    <td>feed_id</td>
    <td>Account Name</td>
    <td>Quantity</td>
    <td>Buy Price </td>
    <td>Date of Purchase</td>
    <td>Current Price </td>

  </tr>

  <% @user.accounts.each do |a| %>
    <% a.transactions.where(:sellPrice => nil).each do |t| %>

    <tr>
      <td><%= link_to "sell", sell_path(t) %></td>
      <!-- <td><%= link_to "#{t.id}", t %></td> -->
      <td><%= Feed.find(t.feed_id).ticker %></td>
      <td><%= a.name %> </td>
      <td><%= t.numBought %></td>
      <td><%= t.buyPrice %></td>
      <td><%= t.buyDate %></td>
      <% gg = YahooFinance.quotes([Feed.find(t.feed_id).ticker]) %>
      <td><%= gg[0].last_trade_price %></td>

    </tr>
    <% end %>
  <% end %>

</table>

<br>

<h3>Closed Transaction </h3>

<table border="1">
  <tr>
    <!-- <td>Transaction ID</td> -->
    <td>feed_id</td>
    <td>Account Name</td>
    <td>Quantity</td>
    <td>Buy Price </td>
    <td>Date of Purchase</td>
    <td>Sold Price </td>

  </tr>

    <% @user.accounts.each do |a| %>
    <% a.transactions.where.not(:sellPrice => nil ).each do |t| %>

    <tr>
      <!-- <td><%= link_to "#{t.id}", t %></td> -->
      <td><%= Feed.find(t.feed_id).ticker %></td>
      <td><%= a.name %> </td>
      <td><%= t.numBought %></td>
      <td><%= t.buyPrice %></td>
      <td><%= t.buyDate %></td>
      <td><%= t.sellPrice %></td>

    </tr>
    <% end %>
  <% end %>

</table>
