<!-- This is the all transactions page  -->
<br><br>
<div id="allTrans">
<h3 style="style="text-align: center"">Open Transactions</h3>

<table border="1">
  <tr>
    <td>Sell Stock</td>
    <td>Transaction ID</td>
    <td>Ticker Symbol</td>
    <td>Account Name</td>
    <td>Quantity</td>
    <td>Buy Price </td>
    <td>Date of Purchase</td>
    <td>Current Price </td>
    <td>Percent Change</td>
    <td>Cash Value Change</td>
  </tr>

  <% @user.accounts.each do |a| %>
    <% a.transactions.where(:sellPrice => nil).each do |t| %>

    <tr>
      <% gg = YahooFinance.quotes([Feed.find(t.feed_id).ticker]) %>
      <td><%= link_to "Sell", sell_path(t, :price => gg[0].last_trade_price), {style: "color: #FF5050"} %></td>
      <td><%= link_to "#{t.id}", t %></td>
      <td><%= Feed.find(t.feed_id).ticker %></td>
      <td><%= a.name %> </td>
      <td><%= t.numBought %></td>
      <td><%= t.buyPrice %></td>
      <td><%= t.buyDate %></td>
      <td><%= gg[0].last_trade_price %></td>
      <td><%= ( (( gg[0].last_trade_price.to_f - t.buyPrice) / t.buyPrice ) * 100).round(2) %></td>
      <td><%= (( gg[0].last_trade_price.to_f - t.buyPrice ) * t.numBought).round(2) %></td>
    </tr>
    <% end %>
  <% end %>

</table>
</div>


<br>

<h3>Closed Transactions </h3>

<table border="1">
  <tr>
    <td>Transaction ID</td>
    <td>Ticker Symbol</td>
    <td>Account Name</td>
    <td>Quantity</td>
    <td>Buy Price </td>
    <td>Date of Purchase</td>
    <td>Sold Price </td>

  </tr>

    <% @user.accounts.each do |a| %>
    <% a.transactions.where.not(:sellPrice => nil ).each do |t| %>

    <tr>
      <td><%= link_to "#{t.id}", t %></td>
      <td><%= Feed.find(t.feed_id).ticker %></td>
      <td><%= a.name %> </td>
      <td><%= t.numBought %></td>
      <td><%= t.buyPrice %></td>
      <td><%= t.buyDate %></td>
      <td><%= t.sellPrice %></td>

    </tr>
    <% end %>
  <% end %>

</table>

<br>
<%= link_to("Back Home", root_path) %>
