<br><br>

<h3 style="font-family: 'Armata', sans-serif;">Create a new transaction</h3>


The current user is <%= @transaction.account_id %>
<br>
the current feed is: <%= @feed.id %>
<br>
<h3>Buy form for:   <%= @feed.ticker %></h3>

<h3>The current bid price is: <%= @transaction.buyPrice %> </h3>

<br><br>

<div>
<%= form_for (@transaction) do |t| %>

  <div>
    How many shares would you like to buy?<br>
    <%= t.label :number_Of_Shares %>
    <%= t.text_field :numBought %>
  </div>

  <br>
  <div>
    Which account?<br>

    <%= t.label :which_account %>
    <!-- <%= select(:account_id, :account_id, Account.where(:user_id => current_user).collect { |a| [a.name] })%> -->
    <%= collection_select :transaction, :account_id, Account.where(:user_id => current_user), :id, :name %>
  </div>

  <br>

  <%= t.hidden_field :feed_id, value: @feed.id %>
  <%= t.hidden_field :buyDate, value: Time.current %>
  <%= t.hidden_field :buyPrice, value: @transaction.buyPrice %>

  <%= t.submit "Create this new transaction" %>

<% end %>

</div>

<br><br>
<%= link_to "Go back to your account", welcome_path %>
